:root {
    --txt-color-01: #000000; /*колір основного тексту*/
    --txt-color-02: #ffffff; /*колір основного тексту інверсія*/
    --bg-color-01: #ffffff; /*колір фону 1*/
    --bg-color-02: #000000;
    --lnk-color-01: #900; /*колір покликань*/
    --lnk-color-02: rgb(211, 52, 52);
    --btm-color-01: #888; /*колір кнопок*/
    --btm-color-02: #41a061; /*колір кнопок*/
    --mob-padding: 20px; /*відступи до контенту на мобільному*/
    --ipad-padding: 50px; /*відступи до контенту на планшеті*/
    --max-width: 1380px;  /*обмеження ширини контенту для dekstop*/
    --ver-desk-pad: 50px; /*відступи по вертикалі у секціях desktop*/
    --ver-mob-pad: 25px; /*відступи по вертикалі у секціях desktop*/

}
 
html, body {
    font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
    color: var(--txt-color-01);
}



h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  font-style: normal;
  margin-bottom: .25em;
  margin-top: .25em;
}

p {
    margin-bottom: 1em;
}

h1 { font-size: 2rem;}   /*REM відносний коефіціент від font-size body*/
h2 {font-size: 1.5rem;}
h3 {font-size:1.35rem;}

header,
section,
footer {
    padding-top: var(--ver-desk-pad);
    padding-bottom: var(--ver-desk-pad);
}

.inside {
    max-width: var(--max-width);
    margin-left: auto;  /*центрування*/
    margin-right: auto;/*по горизонталі*/
    padding-left: var(--ipad-padding);
    padding-right: var(--ipad-padding);
}

@media screen and (max-with:680px) {

    .inside {
        padding-left: var(--mob-padding);
        padding-right: var(--mob-padding);
}

}
